*{
    box-sizing: border-box;
}
body{
    background-color: rgb(99, 132, 231);
}
.services{
    width: 1200px;
    margin: 0 auto;
}
.services .up{
    height: 150px;
    margin-left: 4%;
}
.services .up .tittle{
    font-size: 24px;
    color: rgb(221, 220, 220);
    margin: 0;
}
.services .up h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.services .up h1 span{
    display: inline-block;
    margin: 0;
    color: rgb(253, 82, 52);
}
.services .up .information{
    line-height: 0;
    color: white;
    font-size: 17px;
    height: 0;
}
.services .up hr{
    border: none;
    height: 2px;
    width: 45px;
    float: left;
    margin-top: 13px;
    margin-right: 5px;
    background-image: linear-gradient(to right, yellow, red);
}
.services .down .left, .right{
    margin-left: 4%;
    width: 43%;
    float: left;
}
.services .down .left .img, .right .img{
    position: relative;
    transition: all 0.3s;
}
.services .down .left .img .basic-photo, .right .img .basic-photo{
    transition: 0.7s;
    max-width: 100%;
}
.services .down .left .img .link a .link-photo, .right .img .link a .link-photo{
    opacity: 0;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 10px;
}
.services .down .left:hover .img .link a .link-photo,.services .down .right:hover .img .link a .link-photo{
    animation-name: animate__fadeInTopRight;
    animation-duration: 1s;
    opacity: 1;
    animation-fill-mode: forwards;
}
.services .down .left:hover .img .basic-photo, .services .down .right:hover .img .basic-photo{
    opacity: 0.4;
    transform: scale(1.1,1.1);
}
.services .down .left:hover .img, .services .down .right:hover .img{
    background: rgb(253, 82, 52);
}

.services .down .left .img .info, .right .img .info{
    position: absolute;
    top: 280px;
    left: 36px;
    width: 480px;
    height: 170px;
    background-color: rgb(223, 223, 223);
}
.services .down .left .img .info .name, .right .img .info .name{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color: rgb(58, 57, 57);
    font-weight: bold;
    padding-left: 25px;
    padding-top: 15px;
    transition: color 0.3s;
}
.services .down .left .img .info .name:hover, .right .img .info .name:hover{
    color: green;
}
.services .down .left .img .info p, .right .img .info p{
    padding-left: 18px;
    color: rgb(77, 77, 77);
    font-size: 17px;
}
.services .down .left .img .info .button, .right .img .info .button{
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    background-image: linear-gradient(to right, rgb(199, 198, 198) 50%, white 50%);
    border-radius: 13px;
    padding: 8px 13px;
    color: rgb(238, 169, 20);
    transition: all 0.3s;
    transition: 0.7s;
}
.services .down .left .img .info .button:hover, .services .right .img .info .button:hover{
    background-image: linear-gradient(to right, yellow, red);
    color: white;
}
@keyframes animate__fadeInTopRight{
    from{
        top: 30px;
        right: 10px;
    }
    to{
        top: 50px;
        right: 30px;
    }
}